body,html {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
   }

   .contactBox{
        padding: 25px;
        margin-top: 150px;
   }

.page{
    height: 100vh;
    width: 100%;
    overflow: auto;
    padding-bottom: 100px;
}

.pageDesc{
    margin-top: 30px;
}

.navBtn-active{
    color: tomato !important;
}


ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    /*margin-top: 10%;*/
  }
  ul li {
    display: inline-block;
    margin: 0 20px;
  }
  
  .nav-link{
    color: #584E4A;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 8px;
  }
  .nav-link:before, .nav-link:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #F37272;
  }
  .nav-link:before {
    opacity: 0;
    transform: translateY(-8px);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  }
  .nav-link:after {
    opacity: 0;
    transform: translateY(4px);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  }
  .nav-link:hover:before, .nav-link:hover:after, .nav-link:focus:before, .nav-link:focus:after {
    opacity: 1;
    transform: translateY(0);
  }
  .nav-link:hover:before, .nav-link:focus:before {
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  }
  .nav-link:hover:after, .nav-link:focus:after {
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  }


  /* INTRODUCTION */
  #profilePicPreview{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    object-fit: cover;
}

  .pageDesc a{
    text-decoration: none;
  }
  .pageDesc a:hover{
    color: tomato;
  }

  .chipBrand{
    color: tomato;
    cursor: pointer;
  }

  .electronics{
    color: blue;
    cursor: pointer;
  }

  .progLang{
    color: rgb(7, 158, 163);
  }

  .writeLang{
    color: rgb(7, 233, 83);
  }

  .backend{
    color: rgb(92, 0, 128);
  }

  .frontend{
    color: violet;
  }

  .projectGithub{
    font-size: x-large;
    cursor: pointer;
  }
  .projectGithub a{
    text-decoration: none;
    color: rgb(82, 79, 79);
  }
  .projectGithub a:hover{
    color: rgb(8, 25, 179);
  }
  .projectGithub:hover{
    font-size: xx-large;
  }
